#about {
  background-color: rgba(240, 240, 240, 1);
  padding: 20px;
}

.aboutMe {
  width: 75%;
  margin-left: 10%;
  background-color: rgba(240, 240, 240, 1);

  .aboutFlex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    height: 400px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  }

  p {
    font-size: 20px;
    font-family: "Noto Sans";
  }
}
